# Django Framework
Django==5.2.7

# Django REST Framework
djangorestframework==3.15.2

# JWT Authentication
djangorestframework-simplejwt==5.5.1

# CORS Headers
django-cors-headers==4.6.0

# PostgreSQL adapter
psycopg2-binary==2.9.10

# Environment variables
python-decouple==3.8

# Image processing
Pillow==11.0.0

# Machine Learning
scikit-learn==1.6.1
pandas==2.2.3
numpy==2.2.1
joblib==1.4.2

# Utilities
django-extensions==3.2.3

# Development
ipython==8.31.0

